Server {
   org.apache.zookeeper.server.auth.DigestLoginModule required
   user_kafka1="kafka1-secret"
   user_kafka2="kafka2-secret"
   user_kafka3="kafka3-secret"
   user_client="client-secret";
};

QuorumServer {
       org.apache.zookeeper.server.auth.DigestLoginModule required
       user_zookeeper="zookeeper-secret";
};

QuorumLearner {
       org.apache.zookeeper.server.auth.DigestLoginModule required
       username="zookeeper"
       password="zookeeper-wrong-secret";
};